html {
  background: #fcf8fc url(../images/noise-bg.png);
}
body {
  padding: 0;
  margin: 0;
  background: url(../images/landscape.png) top center repeat-x;
  border-top: 5px solid #008894;
}

header {
  width: 480px;
  height: 100px;
  margin: 2em auto;
  background: url(../images/rush-header.png) center center no-repeat;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

header h1 {
  white-space: nowrap;
  text-indent: 100%;
}

#game {
  position: relative;
  z-index: 1;
  width: 480px;
  height: 320px;
  margin: auto;
  box-shadow: 0 6px 3px -5px #000;
  border-style: solid;
  border-width: 8px;
  border-top-color: #c5a578;
  border-left-color: #977e5a;
  border-right-color: #977e5a;
  border-bottom-color: #7c6749;
}

#game-canvas {
  background: #efefef;
}

.scene {
  width: 480px;
  height: 320px;
  background: #efefef;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

#menu {
  background: url(../images/rush-menu-scene.png);
}

#gameover {
  background: url(../images/rush-gameover-scene.png);
}

#start-btn, #restart-btn {
  display: block;
  width: 480px;
  height: 320px;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
}

#your-game-score {
  width: 480px;
  text-align: center;
  position: absolute;
  top: 90px;
}

#top-scores ul{
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 120px;
}

.row {
  width: 480px;
  margin: auto;
  overflow: auto;
}

.half {
  width: 50%;
  float:left;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.how-to-play, #top-scores-board ul {
  list-style-image: url(../images/coin1.png);
  list-style-position: inside;
  padding: 0;
}

ul.how-to-play li::before, #top-scores-board ul li::before {
  content: '';
  display: inline-block;
  width: 12px; /* Ширина изображения монеты */
  height: 12px; /* Высота изображения монеты */
  background-image: url(../images/coin1.png);
  background-size: cover;
  margin-right: 8px; /* Отступ между монетой и текстом */
  animation: spin 2s linear infinite; /* Применение анимации */
}

ul.how-to-play li, #top-scores-board ul li {
  padding-left: 40px; /* Отступ слева для отображения монеты */
  position: relative;
}

ul.how-to-play li::marker, #top-scores-board ul li::marker {
  content: none; /* Убираем стандартные маркеры списка */
}

.hr {
  background: url(../images/hr.png) center center no-repeat;
  height: 50px;
}

.hr hr {
  display: none;
}

footer {
  text-align: center;
  color: #999;
  font-size: 0.8em;
  margin-bottom: 3em;
}

footer a {
  text-decoration: none;
  color: #999;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer a:hover {
  color: #000;
}

.cloud {
  position: absolute;
  top: 0;
  width: 100%;
  fill: #ffffff; /* Цвет заливки облака */
}

/* Контейнер для фона */
#background-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Стили SVG контейнера */
#background-container svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.popup-content {
  text-align: center;
}

.popup h2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    background-size: cover;
  }

  .scene {
    width: 100%;
    height: 240px;
  }

  .row {
    width: 100%;
  }

  .half {
    width: 100%;
    float: none;
  }
}




@media screen and (min-width: 1200px) {
  #background-container {
    background-size: contain;
  }
}


@media screen and (orientation: landscape) {
  header {
    height: 80px;
  }
}